.header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
    
.header .imag-nav {    
    width: 30%;
    /* border: 1px solid red; */
}
    
.header .nav {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    padding: 5px;

}
    
.header .nav a{
    padding: 20px;
    text-decoration: none;
    font-family: Raleway,Calibri;
    font-size: 20px;
    color: #8246AF;
    font-weight: bold;
    text-align: center;
}

.header .nav a:hover{
    /* padding: 10px; */
    text-decoration: none;
    font-family: Raleway,Calibri;
    color: rgb(248, 160, 28);
    text-shadow: 0 0 10px #fff700;
    font-weight: normal;
    transition-delay: .3s;
}






/* 
.header { 
    display: flex;
    justify-content: right;
    justify-content: space-between;
    margin: 10px;
    
    

}

.nav {
    display: flex;
    justify-content: right;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    
    align-items: center;
    text-align: center;
}

a.nav { 
    display: flex;
    justify-content: space-between;
    padding: 100px;

}

#img {
    width: 70px;
    height: 70px;
    border-radius: 80px;
    padding: 7px;
}


.imag-nav { 
    width: 300px;
    height: 70px;
    border-radius: 80px;
    padding: 7px;
}

   */
